.message {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
    color: #01bf71;
}
.message button {
    margin: auto;
    padding: 15px;
    display: flex;
    border: none;
    outline: none;
    background: transparent;
    font-size: x-large;
    cursor: pointer;
    color: #01bf71;
}
  
@media (min-width: 78px) {
   .message {
       font-size: large;
   }
  }