#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.singup {
    margin-top: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px 80px;
    
}

.singupinput {
    height: 30px;
    width: 80%;
    border: none;
    border-bottom: 2px solid #01bf71;
    padding: 10px 20px;
}

.singupinput::placeholder {
    color: rgb(141, 138, 138);
    font-size: small;
}

.singupinput:focus {
    outline: none;
}

.singupinput:hover {
    border-bottom: 4px solid #01bf71;
    transition: all 0.2s ease-in-out;
}

.singuplabel {
    padding: 5px;
}

.singup button {
    border-radius: 20px;
    background: #01bf71;
    white-space: nowrap;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.singup button:hover {
    padding: 11px;
    background: #fff;
    color: #010606;
    outline: 2px solid #01bf71;
    transition: all 0.2s ease-in-out;
}

.close {
    margin: auto;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    border: none;
    outline: none;
    background: transparent;
    font-size: x-large;
    cursor: pointer;
    color: #01bf71;
}
.close:hover {
    
    border-bottom: 4px solid #01bf71;
    transition: all 0.2s ease-in-out;
}