.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back {
    font-size: 1.8rem;
    cursor: pointer;
    text-decoration: none;
    color: #01bf71;
    margin: 20px 20px 0 20px;
}

.back:hover {
    font-size: 1.9rem;
    border-bottom: 4px solid #01bf71;
    transition: all 0.2s ease-in-out;
}
#singup-form {
    margin-top: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px 80px;
    
}

#singup-form input {
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #01bf71;
    padding: 10px 20px;
}

#singup-form input::placeholder {
    color: rgb(141, 138, 138);
    font-size: small;
}

#singup-form input:focus {
    outline: none;
}

#singup-form input:hover {
    border-bottom: 4px solid #01bf71;
}

#singup-form label {
    padding: 5px;
}

#singup-form button {
    border-radius: 20px;
    background: #01bf71;
    white-space: nowrap;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#singup-form button:hover {
    padding: 11px;
    background: #fff;
    color: #010606;
    outline: 2px solid #01bf71;
    transition: all 0.2s ease-in-out;
}

#close {
    margin: auto;
    padding: 15px;
    display: flex;
    border: none;
    outline: none;
    background: transparent;
    font-size: x-large;
    cursor: pointer;
    color: #01bf71;
}