.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back {
    font-size: 1.8rem;
    cursor: pointer;
    text-decoration: none;
    color: #01bf71;
    margin: 20px 20px 0 20px;
}

.back:hover {
    font-size: 1.9rem;
    border-bottom: 4px solid #01bf71;
    transition: all 0.2s ease-in-out;
}

.singup {
    margin-top: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px 80px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.singupinput {
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #01bf71;
    padding: 10px 20px;
}

.singupinput::placeholder {
    color: rgb(141, 138, 138);
    font-size: small;
}

.singupinput:focus {
    outline: none;
}

.singupinput:hover {
    border-bottom: 4px solid #01bf71;
}

.singuplabel {
    padding: 5px;
}

.singupbutton {
    border-radius: 20px;
    background: #01bf71;
    white-space: nowrap;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.singupbutton:hover {
    padding: 11px;
    background: #fff;
    color: #010606;
    outline: 2px solid #01bf71;
    transition: all 0.2s ease-in-out;
}